
/* common css */

*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    transition: 0.5s;
}
li{
    list-style-type: none;

}
.float-right{
    float: right;
}


/img{
    width: 522px;
    height: 45px;
}